
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-deployment
  namespace: {{ .Values.namespace }}
spec:
  replicas: {{ .Values.replicaCount }} 
  selector:
    matchLabels:
      app: go-app
  template:
    metadata:
      labels:
        app: go-app
    spec:
      containers:
      - name: go-app
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}" #
        ports:
        - containerPort: 8080

---
# 2. THE SERVICE
apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-service 
  namespace: {{ .Values.namespace }}
spec:
  type: NodePort
  selector:
    app: go-app
  ports:
    - port: 80
      targetPort: 8080
      nodePort: 30007